#borderline {
    border: 1px solid #ccc;
    margin: 0;
}

#topmargin {
    margin-top: 6%;
}
#right {
    float: right;
    color: white;
    margin: 0px;
    padding: 2px;
}
#space {
    margin: 5pxs;
}